.page-wrapper {
       position: relative;
       width: auto;
       top: 50%;

      }

      .content-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
        align-items: center;
        justify-content: center;
        width: auto;
        left: 0%;

      }

      h2 {
        font-size: 30px;
        margin-top: 100px
      }

      input { 
        width: 350px;
        height: 40px;
        margin-top: 10px;
        border-radius: 4px;
        border: 1px solid grey;
        padding-left: 15px;
      }


      .submit{
        width: 370px;
        height: 40px;
        margin-top: 30px;
        border-radius: 4px;
        border: none;
        background-color: rgba(2, 150, 116, 0.74);
        color: white;
      }

      .google-div {
        align-items: center;
        justify-content: center;
        position: relative;
      }

      .Google {
        width: 370px;
        height: 40px;
        margin-top: 10px;
        border-radius: 4px;
        border: 1px solid grey;
        background-color: white;
        text-align: center;
      }

      .google {
        position: abs;
        top: 0;
        left: 0;
      }

      .Microsoft {
        width: 370px;
        height: 40px;
        margin-top: 10px;
        border-radius: 4px;
        border: 1px solid grey;
        background-color: white;
      }

      .Apple {
        width: 370px;
        height: 40px;
        margin-top: 10px;
        border-radius: 4px;
        border: 1px solid grey;
        background-color: white;
      }

      .terms {
        margin-top: 100px;
        color: rgba(2, 150, 116, 0.74);
      }